<i style="color:green">users#new - find me in: app/views/users/new.html.erb</i>
<section class="todoapp">
    <header class="header">
      <h1>Signup!</h1>

<!--  <form action="/users" method="POST">                                -->
<!--    <input type="submit" /> <!-- submits to localhost3000/users       -->
<!--  </form>                                                             -->

<!-- Now let's replace this with a Rails macro-->
<%= form_for(@user) do |f| %>
  <%= f.text_field :email, :class => "new-todo", :placeholder => "Register with your email" %>
  <%= f.text_field :password, :class => "new-todo", :placeholder => "Choose a password" %>
  <%= f.submit %>
<% end %>
    </header>

<footer class="footer">
</footer>
</section>
