<i style="color:green">site#homeapp - find me in: app/views/site/homeapp.html.erb</i>
<br>
<h2>Welcome to Your App's Homepage</h2>
<h3>You are currently logged in as a user named <t style="color:green"><%= @user.username %></t></h3>
<p>This page will render as soon as somebody is logged into your Rails app.</p>
<p>Your user's email address is: <%= @user.email %></p>
