<i style="color:green">site#index - find me in: app/views/site/index.html.erb</i>
<br>
<h2>Welcome to Expeditionary Convoy Planner</h2>
<p>This program will tell you if your next convoy has enough fuel or not</p>
<p>Please sign up or login to use the program</p>


<ul>
  <li><%= link_to "Signup as a new user", new_user_path %></li>
  <li><%= link_to "Login as an existing user", login_path %></li>
</ul>
